@page "/admin/Machine"
@inject IStockEndpoint stockEndpoint
@inject IMapper mapper
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navManager
@attribute [Authorize(Roles = "Admin")]

<h1>Machine</h1>

@if (string.IsNullOrWhiteSpace(errorMessage) == false)
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<EditForm Model="formMachine" OnValidSubmit="SaveMachine">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-sm">
            <strong>Machine Form</strong>
            <div class="mb-3">
                <label class="col-form-label">Machine Name</label>
                <InputText class="form-control" @bind-Value="formMachine.MachineName" />
            </div>
            <div class="mb-3">
                <label class="col-form-label">Model Name</label>
                <InputText class="form-control" @bind-Value="formMachine.ModelName" />
            </div>
            <div class="mb-3">
                <label class="col-form-label">Purchased Price</label>
                <InputNumber class="form-control" @bind-Value="formMachine.PurchasedPrice" />
            </div>
            <div class="mb-3">
                <label class="col-form-label">European Article Number</label>
                <InputText class="form-control" @bind-Value="formMachine.EuropeanArticleNumber" />
            </div>
            <div class="mb-3">
                <label class="col-form-label">Date Purchased</label>
                <InputDate class="form-control" @bind-Value="formMachine.DatePurchased" />
            </div>
            <div class="mb-3">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <strong>Machines</strong>
            <div class="form-check">
                <MyInputRadioGroup ValueChanged="((e) => OnRadioMachineChange(e))" TValue="int" ValueExpression="(() => SelectedValue)">
                    @if (machines is not null)
                    {
                        <Virtualize Items="machines" Context="m" OverscanCount="10">
                            <div>
                                <InputRadio Value="m.Id" id="@m.Id" />
                                <label for="@m.Id">@m.MachineName - @m.ModelName</label>
                            </div>
                        </Virtualize>
                    }
                </MyInputRadioGroup>
            </div>
        </div>
    </div>
</EditForm>



@code {
    public int SelectedValue { get; set; }

    private double totalMinutesMachine = 0;

    private List<MachineModel> machines;
    private FormMachineModel formMachine = new();
    private const string MachineListName = "machineList";
    private const string MachineCacheDate = "machineCacheDate";

    private string errorMessage = "";


    protected override async Task OnInitializedAsync()
    {
        formMachine.DatePurchased = DateTime.UtcNow;

        machines = await localStorage.GetItemAsync<List<MachineModel>>(MachineListName);

        DateTime? cacheDateMachines = await localStorage.GetItemAsync<DateTime?>(MachineCacheDate);

        if (cacheDateMachines is not null)
        {
            totalMinutesMachine = DateTime.UtcNow.Subtract((DateTime)cacheDateMachines).TotalMinutes;
        }

        if (machines is null || totalMinutesMachine > 10)
        {
            try
            {
                machines = await stockEndpoint.GetAllMachinesAsync();
                await localStorage.SetItemAsync(MachineListName, machines);
                await localStorage.SetItemAsync(MachineCacheDate, DateTime.UtcNow);
            }
            catch (Exception ex)
            {
                errorMessage = ex.Message;
            }
        }
    }

    private async Task SaveMachine()
    {
        errorMessage = "";
        var mappedMachine = mapper.Map<MachineModel>(formMachine);

        try
        {
            if (formMachine.Id == 0)
                await stockEndpoint.InsertMachineAsync(mappedMachine);
            else
                await stockEndpoint.UpdateMachineAsync(mappedMachine);

            navManager.NavigateTo(navManager.Uri, forceLoad: true);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private void OnRadioMachineChange(object sender)
    {
        formMachine = mapper.Map<FormMachineModel>(machines.Where(x => x.Id == (int)sender).FirstOrDefault());
    }
}
