@page "/register"
@inject IUserEndpoint userEndpoint
@inject IAuthenticationService authService
@inject NavigationManager navManager
@attribute [AllowAnonymous]

@if (string.IsNullOrWhiteSpace(registrationErrorMessage) == false)
{
    <div class="alert alert-danger text-center" role="alert">
        @registrationErrorMessage
    </div>
}

<h1 class="page-heading text-uppercase mb4">Register</h1>

<div class="row justify-content-center create-form">
    <div class="col-xl-12 col-lg-10 form-layout">
        <div class="row">
            <div class="col-12">
                <EditForm Model="model" OnValidSubmit="RegisterUser">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="input-section">
                        <label for="first-name" class="form-label fw-bold text-uppercase">First Name</label>
                        <div class="input-description">Enter your first name.</div>
                        <InputText id="first-name" class="form-control" @bind-Value="model.FirstName" placeholder="First Name" />
                    </div>
                    <div class="input-section">
                        <label for="last-name" class="form-label fw-bold text-uppercase">Last Name</label>
                        <div class="input-description">Enter your last name.</div>
                        <InputText id="last-name" class="form-control" @bind-Value="model.FirstName" placeholder="Last Name" />
                    </div>
                    <div class="input-section">
                        <label for="email-address" class="form-label fw-bold text-uppercase">Email Address</label>
                        <div class="input-description">Enter your email address.</div>
                        <InputText id="email-address" class="form-control" @bind-Value="model.FirstName" placeholder="Email Address" />
                    </div>
                    <div class="input-section">
                        <label for="date-birth" class="form-label fw-bold text-uppercase">Date Of Birth</label>
                        <div class="input-description">Enter your date of birth.</div>
                        <InputDate id="date-birth" class="form-control" @bind-Value="model.DateOfBirth" />
                    </div>
                    <div class="input-section">
                        <label for="password" class="form-label fw-bold text-uppercase">Password</label>
                        <div class="input-description">Make a password, don't make it too easy to guess.</div>
                        <InputText type="password" id="password" class="form-control" @bind-Value="model.Password" />
                    </div>
                    <div class="input-section">
                        <label for="confirm-password" class="form-label fw-bold text-uppercase">Confirm Password</label>
                        <div class="input-description">Write your password once again.</div>
                        <InputText type="password" id="confirm-password" class="form-control" @bind-Value="model.ConfirmPassword" />
                    </div>
                    <div class="center-children">
                        <button class="btn btn-success btn-lg text-uppercase" type="submit">Register</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>


