@page "/ItemDetails/{Id:int}"
@inject IItemEndpoint itemEndpoint
@inject NavigationManager navManager
@attribute [Authorize]


<h1 class="page-heading text-uppercase mb-4">Item Details</h1>

<div class="row justify-content-center detail-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        @if (item is not null)
        {
            <div class="row">
                <div class="col-11">
                    <div>@item.ModelName</div>
                    <div>@item.Description</div>
                    <div>@item.Price</div>
                    <div>@item.Quantity</div>
                </div>
            </div>
        }
    </div>
</div>



@code {
    [Parameter]
    public int Id { get; set; }

    private ItemModel item;
    private FormItemModel selectedItem;

    protected override async Task OnInitializedAsync()
    {
        item = await itemEndpoint.GetByIdAsync(Id);
    }

    private void OpenUpdatePage(ItemModel item)
    {
        navManager.NavigateTo($"/updateItem/{item.Id}");
    }
}
